<h1>Welcome to {{ hotelName }}</h1>

<button (click)="toggle()">Toggle</button>

<div [hidden]="hiderooms">
  <div [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }">
    <p>Number of Rooms: {{ rooms.availableRooms }}</p>
  </div>

  <h3>Rooms List</h3>
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Type</th>
      <th>Amenities</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Check In</th>
      <th>Check Out</th>
    </tr>
    <tr
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let room of roomList; let e = even; let o = odd; let i = index"
    >
      <td>{{ i }}</td>
      <td>{{ e ? "Even" : "Odd" }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price| currency : 'EUR' }}</td>
      <td>{{ room.amenities | titlecase }}</td>
      <td><img src="{{ room.photos }}" style="width: 400px" /></td>
      <td>{{ room.checkInTime | date : 'short' }}</td>
      <td>{{ room.checkOutTime | date : 'short' }}</td>
    </tr>
  </table>
</div>
